@use 'styles/colors';

.app {
  display: flex;
  flex-direction: column;
  height: 100%;

  .app-header {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;

    a {
      padding: 16px 25px;

      &:last-child {
        padding-right: 0px;
      }
    }

    .logo {
      padding: 16px 0px;
      color: colors.$secondary-color;
      display: block;
      line-height: 30px;

      .logo-image {
        width: 18px;
        height: 18px;
        margin-right: 6px;
        fill: colors.$primary-color;
      }
    }

    nav {
      display: flex;
      justify-content: space-between;
      text-transform: uppercase;
    }
  }

  #content {
    overflow: auto;
    margin-bottom: 22px;
  }
}
